@page "/"
@page "/NotesList/{Type}"
@inject INotesService _notesService
@inject INoteReader _noteReader

<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Notes List</ion-title>
    </ion-toolbar>
</ion-header>

<p>Type: @Type</p>
<ul>
    @foreach (var item in _notes)
    {
        <li>
            @item.NoteText
            &nbsp;<button @onclick="() => Read_Text(item.NoteText)">Click me</button>
        </li>
    }
</ul>

@code {
    [Parameter]
    public string Type { get; set; }

    private List<Note> _notes = new List<Note>();

    protected override async void OnParametersSet()
    {
        base.OnParametersSet();

        if (Type == null)
        {
            Type = "Personal";
        }
        _notes = await _notesService.GetNotes(Enum.Parse<NoteType>(Type));
    }

    async void Read_Text(string noteText)
    {
        await _noteReader.ReadNote(noteText);
    }

}