@inherits LayoutComponentBase
@inject ILoginService _LoginService
@inject IGlobalNavigation _GlobalNavigation

<NavMenu />
<div class="ion-page" id="main-content">
    @Body
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if ((await _LoginService.IsAuthenticated()) == false)
        {
            await _GlobalNavigation.NavigateTo("/Login");
        }
    }
}
