@inherits LayoutComponentBase
@inject ILoginService _LoginService
@inject IGlobalNavigation _GlobalNavigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (!_LoginService.IsAuthenticated)
        {
            await _GlobalNavigation.NavigateTo("/Login");
        }
    }
}
